@use './variables' as *;
@use './mixins' as *;

.errorPage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    @include smallTablet {
        flex-direction: column-reverse;
    }
    h2 {
        padding: 0;
        font-size: clamp(8rem, 15vw, 10rem);
    }
    p {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        .button {
            background-color: $lightBlue;
            color: $darkGray;
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            margin: 20px;
            &:hover, &:focus {
                outline: 3px solid $white;
                background-color: $pink;
            }
        }
    }
    .imgContainer {
        width: clamp(15rem, 31vw, 18rem);
        margin-left: 100px;
        @include tablet {
            margin-left: 50px;
        }
        @include smallTablet {
            margin-left: 0;
            margin-bottom: 50px;
        }
    }
}