@use './variables' as *;

footer {
    background-color: $white;
    text-align: center;
    color:$darkGray;
    padding: 5px;
    width: 100%;
    a {
        text-decoration: none;
        color: $darkGray;
        transition: 0.5s;
        &:hover, &:focus {
            text-decoration: underline;
            color: $darkBlue;
        }
    }
}