@use './variables' as *;

header {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    color: $white;
    .h1Container {
        display: flex;
        width: fit-content;
        align-items: center;
        margin-top: 25px;
        h1 {
            margin-left: 25px;
        }
        .logoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
        }
    }
    .about {
        margin: 15px 0;
    }
}