@use './variables' as *;
@use './mixins' as *;

header {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    color: $white;
    .loginButton {
        color: $darkGray;
        align-self: flex-end;
        background-color: $lightBlue;
        transition: 0.3s;
        &:hover, &:focus {
            text-decoration: underline;
        }
        @include largeMobile {
            margin-bottom: 15px;
        }
    }
    .h1Container {
        display: flex;
        width: fit-content;
        align-items: center;
        background-color: transparent;
        padding: 10px 0;
        h1 {
            margin: 0 25px;
            @include mobile {
                margin: 0 15px;
            }
        }
        .logoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            min-width: 80px;
        }
        &:hover, &:focus {
            transform: none;
        }
    }

    .welcomeMessage {
        margin: 10px;
    }

    .guestMessage {
        margin-bottom: 20px;
    }
}

.landingPage {
    display: flex;
    flex-direction: column;
    color: white;
    .accountLink {
        margin-bottom: 10px;
    }
}