@use './variables' as *;
@use './mixins' as *;

.account {
 background-color: $yellow;
 color: $darkGray;
 padding: 5px 10px;
 border-radius: 10px;
}

.guest {
    background-color: $pink;
}

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $darkBlue;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    .contentContainer {
        background-color: $lightBlue;
        border-radius: 10px;
        width: 50vw;
        display: flex;
        flex-direction: column;
        @include smallTablet {
            width:75vw;
        }
        @include mobile {
            width: 90vw;
        }
        h3 {
            text-align: center;
        }
    }
    .exit {
        margin: 5px;
        align-self: flex-end;
        width: fit-content;
        i {
            color: $darkGray;
            transition: 0.3s;
            padding: 15px;
            &:hover, &:focus {
                transform: scale(1.2);
            }
        }
    }
    form, .switch, .errorMessage {
        display: flex;
        flex-direction: column;
        padding: 15px 50px;
        width: 100%;

    }
    form {
        fieldset {
            all: unset;
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
            margin-left: 5px;
        }
        input {
            margin-bottom: 10px;;
        }
        .submitLogin {
            margin: 5px;
            padding: 10px 20px;
            width: 50%;
            min-width: fit-content;
            align-self: center;
            @include mobile {
                align-self: flex-start;
                margin-left: 0;
            }
        }
        .warning {
            color: red;
            margin-left: 5px;
        }
    }

    .switch {
        padding-bottom: 50px;
        button {
            background-color: transparent;
            text-decoration: underline;
            color: $darkGray;
            width: fit-content;
            padding: 0;
        }
    }

    .errorMessage {
        color: red;
    }
}