@use './variables' as *;


html {
 font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h1, .logo {
    font-family: 'Cabin Sketch', cursive;
    font-size: clamp(4.5rem, 10vw, 9rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 15px;
}

p {
    line-height: 1.5rem;
    padding: 10px 0;
}

.bold {
    font-weight:500;
}

.smallFont {
    font-size: clamp(0.9rem, 1.25vw, 1.1rem);
}