@use './partials/setup';
@use './partials/variables' as *;
@use './partials/typography'; 
@use './partials/baseStyles';

@use './partials/header';
@use './partials/navigation';
@use './partials/searchForm';
@use './partials/papers';
@use './partials/footer';


